<!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Categorys</h1>
        <div class="list-group">
          {{#each data.categories }}
            <a href="#" class="list-group-item">{{ this.name }}</a>
          {{/each}}
            <a href="#" class="list-group-item">Free</a>
            <a href="#" class="list-group-item">All</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

      <div style="margin-top: 20px;"></div>

        <div class="row">
          {{#each data.products }}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="/img/module.png" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                    {{ this.name }}
                </h4>
                {{#if this.price}}
                  <h5 class="text-danger">{{ this.price }} €</h5>
                {{/if}}
                <p class="card-text">{{ this.text }}</p>
              </div>
              <div class="card-footer text-center">
                <a href="/product/{{ this.id }}" class="btn btn-primary">View Moduls</a>
                <a href="/product/add/{{ this.id }}" class="btn btn-success"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
              </div>
              
            </div>
          </div>
          {{/each}}

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->